@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
@keyframes float {
  0%, 100% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(20px, -20px) rotate(10deg);
  }
}

.animate-float {
  animation-name: float;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes slowMove {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 120px 120px;
  }
  100% {
    background-position: 0 0;
  }
}
@media (max-width: 768px) {
  .animate-float {
    animation-duration: 25s;
    opacity: 0.35;
    transform: scale(0.8);
  }

  body:has(main) {
    background-image: url("/background-menu-mobile.png") !important;
    background-size: cover !important;
    background-repeat: repeat !important;
    background-attachment: scroll !important;
    background-color: #FAF7F2 !important;
  }

  nav a:nth-of-type(1),
  nav a:nth-of-type(2) {
    font-weight: 700 !important;
  }
}




